<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Trackings</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Tracked time</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @trackings.each do |tracking| %>
        <% if tracking.user == current_user %>
          <tr>
            <td><%= tracking.content %></td>
            <td><%= link_to 'Show', tracking %></td>
            <td><%= link_to 'Edit', edit_tracking_path(tracking) %></td>
            <td><%= link_to 'Delete', tracking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
  <% if user_signed_in? %>
    <p><%= link_to 'New Tracking', new_tracking_path %></p>
  <% end %>
</div>
